extends layouts/common.pug
block content
    section(class="dashboard-member")
        div(class="container")
            ul(class="dashboard-member-list")
                p(class="dashboard-title") Dashboard member
                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969   

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969 

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969 

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969   

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969

                li(class="dashboard-item")  
                    div(class="dashboard-member")
                        b(class="member-index") 1
                        img(class="member-avatar" src="/img/avatar.png")
                        span(class="member-name") Đặng Quốc Dũng
                    p(class="dashboard-score") 969

    section(class="home-introduce")
        div(class="container")
            div(class="introduce-content")
                div(class="img-wrapper")
                    img(src="https://picsum.photos/g/450" with="100%")
                div(class="content-wrapper")
                    h1(class="title") About coders.tokyo Cần Thơ
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    section(class="home-advantages")
        div(class="container")
            h1(class= "title") Lợi ích khi tham gia cộng đồng chúng tôi
            div(class="advantages-content")
                ul(class="advantages-list")
                    li(class="advantages-item")
                        div(class="left")
                            h1(class="sub-title") 
                                span(class="index") 1 
                                span Lorem ipsum lora
                            p Lipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec consequat libero. Vestibulum sapien risus, molestie ut aliquam nec, vulputate et purus. In eros eros, ullamcorper pretium mi sed, laoreet dapibus nibh. Phasellus eu libero eget nisl luctus ultricies. Aliquam a diam libero. Vivamus eu maud lacus placerat tincidunt. Curabitur vehicula 
                                 
                        div(class="right")
                            img(src="https://picsum.photos/g/350" )

                    li(class="advantages-item")
                        div(class="right")
                            h1(class="sub-title") 
                                span(class="index") 1 
                                span Lorem ipsum lora
                            p Lipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec consequat libero. Vestibulum sapien risus, molestie ut aliquam nec, vulputate et purus. In eros eros, ullamcorper pretium mi sed, laoreet dapibus nibh. Phasellus eu libero eget nisl luctus ultricies. Aliquam a diam libero. Vivamus eu maud lacus placerat tincidunt. Curabitur vehicula 
                                 
                        div(class="left")
                            img(src="https://picsum.photos/g/350" )

                    li(class="advantages-item")
                        div(class="left")
                            h1(class="sub-title") 
                                span(class="index") 1 
                                span Lorem ipsum lora
                            p Lipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec consequat libero. Vestibulum sapien risus, molestie ut aliquam nec, vulputate et purus. In eros eros, ullamcorper pretium mi sed, laoreet dapibus nibh. Phasellus eu libero eget nisl luctus ultricies. Aliquam a diam libero. Vivamus eu maud lacus placerat tincidunt. Curabitur vehicula 
                                 
                        div(class="right")
                            img(src="https://picsum.photos/g/400" )

                    li(class="advantages-item")
                        div(class="right")
                            h1(class="sub-title") 
                                span(class="index") 1 
                                span Lorem ipsum lora
                            p Lipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec consequat libero. Vestibulum sapien risus, molestie ut aliquam nec, vulputate et purus. In eros eros, ullamcorper pretium mi sed, laoreet dapibus nibh. Phasellus eu libero eget nisl luctus ultricies. Aliquam a diam libero. Vivamus eu maud lacus placerat tincidunt. Curabitur vehicula 
                                 
                        div(class="left")
                            img(src="https://picsum.photos/200" )

    section(class="slide-show")
        h1(class="title") Hình ảnh các buổi offline của cộng đồng
        div(class="slider")
            div(class="slide" )
                img(src="https://picsum.photos/g/600" )  
            div(class="slide" )
                img(src="https://picsum.photos/600" ) 
            div(class="slide" )
                img(src="https://via.placeholder.com/600" )   

            a(class="arrow prev" onclick="plusSlides(-1)") <
            a(class="arrow next" onclick="plusSlides(1)") >

        div(class="dots-wrapper")
            span(class="dot" onclick="currentSlide(1)")
            span(class="dot" onclick="currentSlide(2)")
            span(class="dot" onclick="currentSlide(3)")

    section(class="copy-right")
        p Copy right by
            span(class="coders")  Coders.
                span(class="tokyo") Tokyo
            span  Cần Thơ

    script(src="/js/slider.js")                     
                        

