.form-group{
    margin-bottom: 2rem;
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    padding-left: .5rem;
    padding-bottom: .5rem;
    padding-top: .3rem;
}

.form-group label{
    display: block;
    left:0;
    top: 5px;
    font-size: .7rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--light-gray);
    margin: 0;
    margin-bottom: .3rem;
    text-transform: uppercase;
}

.form-control{
    display: block;
    color: var(--black);
    border:0;
    box-sizing: border-box;
    transition: all .4s;
    width: 100%;
    font-size: .8rem;
}

