:root{
    --light-blue: #609DE6;
    --blue: #4A90E2;
    --black: #252525;
    --light: #DEDEDE;
    --gray: #707070;
    --light-gray: #7a8994;
    /* --lg: 991px;
    --md: 768px;
    --sm: 576px;
    --xs: 320px; */
}