.home-introduce .introduce-content{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: center;
    align-self: center;
}

.home-introduce .introduce-content div{
    padding: 0 15px;
}

.home-introduce .introduce-content div.img-wrapper img{
    width:100%;
    height: 550px;
}

@media screen and (max-width: 768px){
    .home-introduce .introduce-content{
       display: block;
       text-align: center;
    }
}

@media screen and (max-width: 568px){
    .home-introduce .introduce-content div{
        padding: 0;
    }

    .home-introduce .introduce-content div.img-wrapper img{
        height: 400px;
    }
}