.btn-action{
    color: #fff;
    background: $blue;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    transition: all .3s;
    cursor: pointer;
    font-weight: bold;
    &:hover{
        background: $light-blue;
    }
}

.btn-top{
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: $blue;
    z-index: 100;
    display: none;
    border-radius: 50%;
    padding: 5px;
    i{
        font-size: 1.8rem;
        cursor: pointer;
        color: rgba(255,255,255,0.8);
    }
}

