.nav-tabs{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
    .nav-item{
        display: inline-block;
        .nav-link{
            display: block;
            padding: .5rem;    
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            background: transparent;    
            cursor: pointer;
            transition: all .3s;
            &.active{
                background-color: $blue;
                color: #fff;
            }
        }
    }
}

.tab-content {
    .tab-pane{
        display: none;
        &.active{
            display: block;
        }
    }
    
}
