.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
}

.navbar .nav-link{
    color: var(--gray);
    transition: color .3s;
}

.navbar .nav-link:hover{
    color: var(--black);
}

.navbar .nav-brand img{
    display: block;
    width: 40px;
    height: 40px;    
    border-radius: 50%;    
}

.navbar .action-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar .action-group .btn-toogle-sidebar{
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

.navbar .action-group .btn-toogle-dropdown{
    cursor: pointer;
    display: none;
}

#dropdown-account{
    position: absolute;
    top: 50px;
    right:0;
    background: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
    display: none;
}

#toggle-dropdown-account{
    display: none;
}

#toggle-dropdown-account:checked ~ #dropdown-account{
    display: block;
}

.navbar .action-group .btn-toogle-dropdown img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.navbar #toogle-sidebar{
    display: none;
}

.navbar .action-group .link-group li{
    margin: 0 1rem;
    float: left;
}



@media screen and (max-width: 600px){
    .navbar .action-group .link-group{
        display: none;
    }

    .navbar .action-group .btn-action{
        display: none;
    }

    .navbar .action-group .btn-toogle-sidebar{
        display: block;
    }
}
