#sidebar-m{
    position: fixed;
    transition: all .3s ease-in-out;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    display: none;
    background: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
    transform: translateX(-100%);
}

#sidebar-m .sidebar-header{
    text-align: center;
}

#sidebar-m .sidebar-header .btn-action{
    display: none;
}

#sidebar-m .sidebar-header .account-wrapper-m{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    padding: 5px 10px;
    cursor: pointer;
}

#sidebar-m .sidebar-header .account-wrapper-m img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#dropdown-account-m{
    transform-origin: top left;
    transition: all .4s;
    display: none;
}

#toggle-dropdown-account-m{
    display: none;
}

#toggle-dropdown-account-m:checked ~ #dropdown-account-m{
    display: block;
    animation: dropdown-m .4s ease;
}

#sidebar-m .sidebar-header .btn-toogle-sidebar{
    margin-right: 1rem;
    font-size: 1.5rem;
}

#sidebar-m .btn-action{
    display: inline-block;
}

#sidebar-m  li .nav-link{
    color: var(--black);
    display: block;
    font-size: 1rem;
    line-height: 2;
    text-align: left;
}

#sidebar-m li .nav-link i{
    margin-right: 1.5rem;
}

#toogle-sidebar:checked  ~ #sidebar-m {
    transform: translateX(0);
}

@media screen and (max-width: 600px){
    #sidebar-m{
        display: block;
    }
}

@keyframes dropdown-m{
    from {
        transform: scaleY(0);
    } 
    to {
        transform: scaleY(1);
    }
}